<div class="cv-nested-list">
  {% for content in entry.contents %}
    <div class="cv-nested-category">
      <h5 class="cv-category-title">{{ content.title }}</h5>
      {% if content.items %}
        <ul class="cv-subitems">
          {% for subitem in content.items %}
            <li class="cv-subitem">{{ subitem }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  {% endfor %}
</div>
